.button {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  height: 2.5em;
  cursor: pointer;
  padding: 0.75em;
  background-color: rgba(var(--color-gray-100), 1);
  border: 2px solid rgba(var(--color-border-200), 1);
  transition: all 0.2s ease-in-out;
}

.button .button__text,
.button .button__icon {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5em;
  color: rgba(var(--text-base-dark), 1);
}

.button .button__icon.loading svg {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button:active,
.button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.button:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1);
}

.button--primary {
  outline: none;
  border: none;
  background-color: rgba(var(--color-accent), 1);
}

.button--primary .button__text,
.button--primary .button__icon {
  color: rgba(var(--color-light), 1);
}

.button--primary:hover {
  background-color: rgba(var(--color-accent-hover), 1);
}
.button--primary.active,
.button--primary:active,
.button--primary:focus {
  background-color: rgb(2, 123, 99);
}

.button--primary:disabled {
  background-color: rgb(163, 222, 210);
}

.button--dashed {
}

.button--text {
  color: rgb(0 0 0 / 85%);
  border-color: transparent;
  background: 0 0;
  box-shadow: none;
}

.button--text:hover {
  color: rgb(0 0 0 / 85%);
  background-color: rgba(0, 0, 0, 0.018);
  border-color: transparent;
}

.button--text:active,
.button--text:focus {
  color: rgb(0 0 0 / 85%);
  background-color: rgba(0, 0, 0, 0.018);
  border-color: transparent;
}

.button--text:disabled {
  background-color: rgb(163, 222, 210);
}

.button--text .button__icon {
  background-color: transparent;
}

.button--link {
}

.button--block {
  width: 100%;
}

.button--block .button__icon {
  background: rgba(0, 0, 0, 0);
}

.button--small {
  height: 1.5em;
}

.button--large {
  height: 3.5em;
}

.button--small .button__text,
.button--small .button__icon svg {
  font-size: 0.8em;
}

.button--large .button__text,
.button--large .button__icon svg {
  font-size: 2em;
}

.button--round {
  border-radius: 0.3em;
}

.button--circle {
  border-radius: 50%;
  width: 2.5em;
}

.button--circle.button--small {
  height: 3.5em;
  width: 3.5em;
}

.button--circle.button--large {
  height: 2.5em;
  width: 2.5em;
}

/** Button Dropdown*/
.button__dropdown .card {
  padding: 0;
}

.button__dropdown {
  position: relative;
}

.button__dropdown--closed {
  display: none;
}

.button_dropdown-items {
  position: absolute;
  right: 0;
  z-index: 2;
}
.button_dropdown-item {
  padding: 0.5em 2em;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
}

.button_dropdown-item a {
  text-decoration: none;
  color: inherit;
}

.button_dropdown-item:hover {
  color: var(--primary-color);
}
