.product-list__item {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(var(--color-light), 1);
  border: 1px solid rgba(var(--color-border-200, 1));
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 0.2s ease-out;
  padding: 1.5em;
}

.product-list__item:hover {
  transform: translateY(-0.125em);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.product-item__discount {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgba(var(--color-accent), 1);
  color: rgba(var(--color-light), 1);
  padding: 0.2em 0.4em;
  border-radius: 5px;
}

.product-item__image {
  display: flex;
  align-items: center;
  height: 16em;
  width: 100%;
  padding: 1em;
}

.product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-item__info {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.product-item__name {
  font-size: 0.95rem;
  line-height: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: inherit;
  color: rgba(var(--text-base), 1);
}

.product-item__prices {
  display: flex;
  justify-content: flex-start;
  column-gap: 1em;
}

.product-item__price-deleted {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(var(--text-muted), 1);
  text-decoration: line-through;
}

.product-item__add-to-cart-button {
  margin-top: 1em;
}
