.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25em;
  width: 100%;
}

.product-details__loader,
.product-details__error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 25em;
}

@media (min-width: 768px) {
  .product-details {
    width: 100%;
  }

  .modal__container.product-details-modal {
    max-width: 70em;
  }
}
