.product-details__content {
  height: 95vh;
  width: 100%;
  max-width: 550px;
  padding: 1.5em;
}

.product-details__info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.product-details__left-side,
.product-details__rigth-side {
  width: 100%;
}

.product-details__rigth-side {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.product-details__left-side {
  display: flex;
  justify-content: center;
}

.product-details__left-side img {
  width: 60%;
  object-fit: contain;
}

.product__name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  color: rgba(var(--text-base-dark), 1);
}

.product__description {
  line-height: 2;
  color: rgba(var(--text-base), 1);
}

.product__prices {
  display: flex;
  justify-content: flex-start;
  column-gap: 1em;
}
.product__price {
  color: rgba(var(--color-accent), 1);
  font-weight: 500;
  font-size: 2rem;
}

.product__brand {
  width: 75px;
}

.product__brand img {
  width: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .product-details__content {
    width: 100%;
    height: 100%;
  }

  .product-details__info {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 1em;
  }
}
